<div class="container">

  <div class="row">
    <div class="col-sm-10 col-lg-10 col-md-10">

      <p id="notice"><%= notice %></p>

      <h1>All Links by current user</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Long url</th>
            <th>Short URL</th>
          </tr>
        </thead>

        <tbody>
        	<%  @urls = current_user.shortened_urls.each do |data| %>
	      <tr>
            <td><%= data.url %></td>
            <td><%= link_to "#{ENV["DEFAULT_URL_DEV"]}/#{data.unique_key}", "#{ENV["DEFAULT_URL_PROD"]}/#{data.unique_key}" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <br>
	<%= link_to 'New Url Short', new_url_short_path %>
    </div>
  </div>
</div>

