<%#= form_with(model: url_short, local: true) do |form| %>
<%= form_for(@url_short,:html=>{:id=>"your_form_id",:multipart => true,:remote=>true}) do |form |%>
  <div class="field">
    <%= form.label :link %>
    <%= form.text_area :link %>
  </div>

  <div class="actions">
    <%= form.submit "shorten" %>
  </div>
  <div id="message-response">Here is your short URL</div>
  <div id="message-value"></div>
<% end %>
<script type="text/javascript">
  $('#message-response,#message-value').hide();
</script>